name: Deploy Staging
on:
  pull_request:
    branches:
      - main
    types:
    - opened
    - closed
    - synchronize
jobs:
  deploy:
    if: github.event.action == 'opened'
    name: Deploy app
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create new environment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB }}
        run: |
          curl -L \
            -X PUT \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/napalias/testing/environments/bnsn-pr-${{ github.event.number }} 
      
      - name: Generate Environment Name
        id: generate-env-name
        run: echo "env_name=bnsn-pr-${{ github.event.number }}" >> $GITHUB_ENV    
            
  update:
    if: github.event.action == 'synchronize'
    name: Pull request update
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Update environment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB }}
        run: |
          curl -L \
            -X PATCH \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            -d '{"environment":"bnsn-pr-${{ github.event.number }}"}' \
            https://api.github.com/repos/napalias/testing/environments/bnsn-pr-${{ github.event.number }}
            
      - run: echo "upadte pull request"

  cleanup:
    if: github.event.pull_request.merged == true || github.event.action == 'closed'
    runs-on: ubuntu-latest

    steps:
      - name: Delete Github Environment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB }}
        run: |
          curl -L \
            -X DELETE \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/napalias/testing/environments/bnsn-pr-${{ github.event.number }}    
