name: Deploy Staged
on:
  pull_request:
    branches:
      - main
jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Generate Environment Name
        id: generate-env-name
        run: echo "env_name=pr-${{ github.event.number }}" >> $GITHUB_ENV

      - name: Deploy to Fly.io
        run: |
          flyctl apps create ${{ env.env_name }} --org personal
          flyctl deploy --app ${{ env.env_name }} --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY }}

  cleanup_environment:
    runs-on: ubuntu-latest
    steps:
      - name: Make API call
        run: |
          curl -X GET https://eolk6gljqh6f4mh.m.pipedream.net?env=${{ github.event.action }}

      
