name: Fly Deploy Staged
on:
  pull_request:
    branches:
      - develop
jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    steps:
      - name: Make API call
        run: |
          curl -X GET https://eolk6gljqh6f4mh.m.pipedream.net?env=1234

      - uses: actions/checkout@v3

      - name: Generate Environment Name
        id: generate-env-name
        run: echo "env_name=pr-${{ github.event.number }}" >> $GITHUB_ENV